*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}
.container h1{
    font-family: 'Questrial','sans-serif';
    padding: 2rem 0;
    text-align: center;
    letter-spacing: 3px;
    color:red;
}
body{
    width: 100vw;
    height:100vh;
    line-height: 1.6;
    min-height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 174, 174);
    position: fixed;
}
video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.container{
    
    border-radius: 10px;
    width: 1200px;
    height:870px;
    
}
.container h2{
    font-family: 'Questrial','sans-serif';
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 3px;
    color:red;
    
}

.container-content{
    
    
    background: rgb(0, 0, 0);
    display: flex;
    justify-content:space-evenly;
}
@media only screen and (max-width: 1202px) {
    .container-content{ 
          align-items: center; 
          flex-direction: column;  
          background: rgb(223, 204, 204);
          

    }
    
}
.text-entry{
    
    width :55%;
    height :100%;
}
.text-info{
    width:40%;
    height:100%;
}
.container textarea{
    line-height: 1.5;
    width: 100%;
    border-radius: 30px;
    resize: none;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    outline: 0;
    font-weight: 400;
    background-color: rgb(243, 160, 160);
    color: rgb(60, 49, 124);
}
.container textarea::placeholder{
    color: rgb(12, 12, 12);
}
#process-btn{
    background: seagreen;
    display: block;
    margin: 1rem auto;
    border: none;
    outline:0;
    color: seashell;
    border-radius:25px;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}
#process-btn:hover{
    background-color: green;
}
.text-info-list{
    list-style: none;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    background: teal;
}
.text-info-list li{
    display: flex;
    margin: 0.2rem 0;
    padding: 0.2rem 0;
    align-items: center;
}
.text-info-list li p{
    padding-right: 0.5rem;
    font-weight: 700;
    opacity: 0.9;
}
.text-info-list li span{
    color:#538d22;
    font-weight: 700;
    background: white;
    padding:0.1rem 1rem;
    border-radius:25px;
    margin-left:1.4rem;
}